
@{
    List<StoryCardTrees> ListStoryCard = ViewBag.StoryCardTree as List<StoryCardTrees>;
    List<StoryStatus> ListStatus = ViewBag.StoryStatus as List<StoryStatus>;
    List<Item> ListItem = ViewBag.StoryItems as List<Item>;
    ViewData["Title"] = "FlowChart";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}
@model NewCity.Models.Item
<style>
    .StoryCard {
        position: absolute;
        height: 60px;
        width: 160px;
        border: 1px solid blue;
    }

    .on {
        border-color: brown
    }
</style>
<script src="~/js/jsplumb.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>



<script>
    var StoryCards = @Json.Serialize(ListStoryCard);
    window.onload = function() {
        createProcess()
    }

    jsPlumb.ready(function () {

        debugger;
        for (let i in StoryCards) {
            for (let j in StoryCards[i].storyCard) {
                for (let t in StoryCards[i].storyCard[j].fatherStoryCardId) {
                    jsPlumb.connect({
                        source: StoryCards[i].storyCard[j].fatherStoryCardId[t],
                        target: StoryCards[i].storyCard[j].storyCard.id,
                        endpoint: 'Dot',
                        connector: ['Straight'],
                        maxConnections: -1,
                        anchor: ['Top', 'Bottom'],
                        overlays: [['Arrow', { width: 12, length: 12, location: 0.5 }]]
                    })

                    jsPlumb.draggable(StoryCards[i].storyCard[j].storyCard.id)
                }
            }
        }

    })

    function createProcess() {
        debugger;
        for (let i in StoryCards) {
            let div = '';
            for (var j in StoryCards[i].storyCard) {
                let context = StoryCards[i].storyCard[j].storyCard.id + StoryCards[i].storyCard[j].storyCard.title;
                div += "<div id='" + StoryCards[i].storyCard[j].storyCard.id + "' class='StoryCard' style='left:" + 180 * j + "px' onclick=select('" +
                    StoryCards[i].storyCard[j].storyCard.id + "') ondblclick  =ToCard('" +
                    StoryCards[i].storyCard[j].storyCard.id + "','" + StoryCards[i].storyCard[j].storyCard.storySeriesID + "') style='float:left;margin-left:5px;margin-top:5px'>" +
                    context + "</div>";
            }
            let h = i == 0 ? 0 : 1;
            let content = "<div class='row' style='margin-top:"+90*h+"px'>" + div + "</div>";
            $("#contener").append(content);
        }
    }



    //跳转到特定页面
    function ToCard(CardId, SeriesId) {
        debugger;
        window.location.href = '/CreateStory/GetCard?StoryCardID=' + CardId + "&StorySeriesID=" + SeriesId
    }


</script>
<script>
    var selectcard = null;
    function ReturnList() {
        window.location.href = '/Creator/Index/'
    }
    function DelectCard() {
        if (selectcard == null) {
            alert("无卡片选择！")
        }
        else {
            var msg = "您真的确定要删除吗？\n\n请确认！";
            if (confirm(msg) == true) {
                $.post('"/CreateStory/DeleteCard"', { cardid: selectcard }, function (data) {
                    if (data != 'false') location.reload()
                })
            }
        }

    }
    function select(cardid) {
        $('.StoryCard').removeClass("on");
        $('#' + cardid).addClass("on");
        selectcard = cardid;
    }


    //点击添加
    function addstatus() {
        let guid = guid();
        let content = "<li id='" + guid + "'><input /><button onclick=addstatusconfirm(" + guid + ")>确定</button><button onclick=addstatuscancel(" + guid +")>取消</button></li>";
        $('#statuslist').prepend(content);
    }
    //确认添加
    function addstatusconfirm(statusID) {
        let status = $("input#" + statusID).val();
        $.post('/CreataStory/Addstatus', { storyseries:@ListStoryCard.First().StoryCard.First().StoryCard.StorySeriesID, status: status}, function (data) {
            if (data != 'true') {
                alert(data);
            }
        })
    }
    //取消添加
    function addstatuscancel(statusID) {
        $('#' + statusID).remove();
    }
    //状态点击修改
    function statusedit(statusid) {
        let status = $('p#' + statusid).val();
        $('p#' + statusid).remove();
        $('button#' + statusid).remove();
        let content = "<input value=" + status + "/><button onclick='statuseditconfirm(" + statusid + ")'>确定</button><button onclick='statuseditcancel(" + statusid + "," + status+")'>取消</button>"
        $('#' + statusid).prepend(content);
    }
    //状态确认修改
    function statuseditconfirm(statusid) {
        let status = $('input#' + statusid).val();
        $.post('/CreataStory/editstatus', { statusID: statusid, status: status}, function (data) {
            if (data == 'true') {
                $('#' + statusid).empty();
                let content = "<p>" + status + "</p><button onclick='edit(" + statusid + ")'>编辑</button><button onclick='statusremove(" + statusid + ")'>删除</button>";
                $('#' + statusid).append(content);
            } else {
                location.reload();
            }
        });
    }
    //状态取消修改
    function statuseditcancel(statusid, status) {
        $('#' + statusid).empty();
        let content = "<p>" + status+"</p><button onclick='edit(" + statusid + ")'>编辑</button><button onclick='remove(" + statusid+")'>删除</button>";
            $('#' + statusid).append(content);
    }
    //状态点击删除
    function statusremove(statusid) {
        let r = confirm("确认删除？");
        if (r == true) {
            $post("/CreataStory/removestatus", { statusID:statusid}, function (data) {
                if (data == 'true') {
                    $('#'+statusid).remove();
                } else {
                    alert(data);
                }
            });
        }
    }

    //道具编辑界面
    function itemedit(itemID) {
        $('#isAdd').val() = itemID
        $('#ItemModel').modal('hide');
        $('#ItemDetailModel').modal('show')
        $.post('/CreataStory/getitem', { itemID: itemid }, function (data) {
            $('#itemname').val() = data.name;
            $('#Introduction').val() = data.Introduction
            $('#itemname')
            $('#itemname')
            $('#itemname')
            $('#itemname')
            $('#itemname')
            $('#itemname')
            $('#itemname')
            $('#itemname')
            $('#itemname')
            $('#itemname')
            $('#itemname')
            $('#itemname')
            $('#itemname')
            $('#itemname')
            $('#itemname')
        })
    }
    //道具新增界面
    function itemadd() {
        $('#isAdd').val() = ''
        $('#ItemModel').modal('hide');
        $('#ItemDetailModel').modal('show')
    }
    
    //道具保存
    function itemsave() { }
    //道具删除
    function itemremove(itemid) {
        let r = confirm("确认删除？");
        if (r == true) {
            $post("/CreataStory/removeitem", { itemID: itemid }, function (data) {
                if (data == 'true') {
                    $('#' + statusid).remove();
                } else {
                    alert(data);
                }
            });
        }
    }
    
</script>
<button onclick="ReturnList()">返回</button>
<button onclick="DelectCard()">删除</button>
<button data-toggle="modal" data-target="#StatusModel">状态量</button>
<button data-toggle="modal" data-target="#ItemModel">道具</button>
<hr />

<div id="contener"></div>

<div id="StatusModel" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">条件选择</h4>
            </div>
            <div class="modal-body">
                <div id="StatusSelectoperation">
                    <button onclick="addstatus()">+</button>
                </div>
                <ul id="StatusSelect">
                    @foreach (StoryStatus s in ListStatus)
                    {
                        <li id="@s.ID">
                            <p>@s.Name</p>
                            <button onclick="statusedit(@s.ID)">编辑</button>
                            <button onclick="statusremove(@s.ID)">删除</button>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>

<div id="ItemModel" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">道具选择</h4>
            </div>
            <div class="modal-body">
                <div id="ItemSelectoperation">
                    <button onclick="itemadd()">+</button>
                </div>
                <ul id="ItemSelect">
                    @foreach (Item s in ListItem)
                    {
                        <li id="@s.ID">
                            <p>@s.Name</p>
                            <button onclick="itemedit(@s.ID)">编辑</button>
                            <button onclick="itemremove(@s.ID)">删除</button>
                        </li>
                    } 
                </ul>
            </div>
        </div>
    </div>
</div>

<div id="ItemDetailModel" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">道具</h4>
            </div>
            <div class="modal-body">
                <form asp-action="">
                    <input type="hidden" id="itemID" name="itemID"/>
                    图标：
                    名称：<input asp-for="Name" id="itemname" />
                    说明：<textarea asp-for="Introduction" id="itemdetail"></textarea>
                    效果：
                    <input id="EffectType1" asp-for="EffectType1" /><select id="EffectType1" asp-for="EffectType1"><option value='0'>增加</option><option value='1'>减少</option><option value='2'>赋值</option></select><input id="EffectValue1" asp-for="EffectValue1" />
                    <input asp-for="EffectType2" /><select asp-for="EffectType2"><option value='0'>增加</option><option value='1'>减少</option><option value='2'>赋值</option></select><input asp-for="EffectValue2" />
                    <input asp-for="EffectType3" /><select asp-for="EffectType3"><option value='0'>增加</option><option value='1'>减少</option><option value='2'>赋值</option></select><input asp-for="EffectValue3" />
                    <input asp-for="EffectType4" /><select asp-for="EffectType4"><option value='0'>增加</option><option value='1'>减少</option><option value='2'>赋值</option></select><input asp-for="EffectValue4" />
                    <input asp-for="EffectType5" /><select asp-for="EffectType5"><option value='0'>增加</option><option value='1'>减少</option><option value='2'>赋值</option></select><input asp-for="EffectValue5" />
                    <button type="submit">保存</button>
                    <button type="button"  data-dismiss="modal">取消</button>
                </form>
            </div>
        </div>
    </div>
</div>
