@model NewCity.Models.StorySeries

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>StorySeries</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SeriesName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SeriesName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Creationdate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Creationdate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
