
@{
    ViewData["Title"] = "Main";

}

<h2>Main</h2>
@if (ViewData["Creator"].ToString() == "True")
{
    <li><a asp-area="" asp-controller="Creator" asp-action="Index">Creator</a></li>
}
<div class="container-fluid">
    <div class=" col-md-3">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#Item" data-toggle="tab">物品</a>

            </li>
            <li>
                <a href="#Schedule" data-toggle="tab">事件</a>

            </li>
        </ul>
        <div class="tab-content" style="background-color:aquamarine">
            <div class="tab-pane fade in active row" id="Item">
                物品
            </div>
            <div class="tab-pane fade row" id="Schedule">
                事件
            </div>
        </div>
    </div>


    <div class="col-md-6" style="background-color:aqua">
        <div class="row">
            @if (ViewBag.InLocation && ViewBag.ReadList != null)
            {
                <div class="row">
                    <div class="col-md-4">
                        <img id="Img" src="@ViewBag.ReadList.IMG" />
                    </div>
                    <div class="col-md-8">
                        <p id="Text">@ViewBag.ReadList.Text</p>
                    </div>
                </div>
                <div class="row" id="Option">
                    @foreach (var option in ViewBag.OperaList)
                    {
                        <div class="row">
                            <p>@option.StoryName</p>
                            <button class="btn-default" onclick="NextCard('@option.ID')">继续</button>
                        </div>
                    }
                </div>
            }
            else if (!ViewBag.InLocation && ViewBag.ReadList != null)
            {
                <div class="row">
                    <div class="col-md-4">
                        <img id="Img" src="@(ViewBag.ReadList.IMG)" />
                    </div>
                    <div class="col-md-8">
                        <p id="Text">@ViewBag.ReadList.Text</p>
                    </div>
                </div>
                <div class="row" id="Option">
                    @foreach (var option in ViewBag.ReadList.StoryOptions)
                    {
                        <div class="row">
                            <button class="btn-default" onclick="NextCard('@option.ID')">@option.Text</button>
                        </div>
                    }
                </div>
            }
        </div>

    </div>
    <div class="col-md-3" style="background-color:burlywood">
        属性
        <div class="row" id="Status">

        </div>
    </div>
</div>




<script>

    //初始读取
    window.onload = function () {
        GetItem();
        GetState();
        GetSchedule();
    }


    function NextCard(optionID) {

        $.post(
            '/Main/NextCard',
            { optionID: optionID },
            function (result) {

                CleanContent();
                AddContent(result.text);
                AddOption(result.storyOptions)
            }
        )
    }

    //添加选项
    function AddOption(option) {

        for (var i in option) {
            $('#Option').append("<button onclick = NextCard('" + option[i].id + "')>" + option[i].text + "</button>")
        }
    }
    //添加内容框内容
    function AddContent(text) {
        //$('#Img')
        $('#Text').append(text);
    }
    //清除内容框
    function CleanContent() {
        $('#Text').empty();
        $('#Img').empty();
        $('#Option').empty();
    }



    //获取人物状态
    function GetState() {
        $.get('/Main/GetState', function (data) {
            debugger;
            LoadRow(data, "Status");
        })
    }

    //获取人物背包
    function GetItem() {
        $.get('/Main/GetItem', function (data) {
            debugger;
            let jsonObj = JSON.parse(data);
            let html = '';
            for (let i in jsonObj) {
                debugger;
                html += "<div class='row'>" + jsonObj[i].Name + ":" + jsonObj[i].Amount + "</div>"
            }
            let content = "<div class='row'>" + html + "</div>";
            $("#Item").append(content);
        });
    }

    //获取任务列表
    function GetSchedule() {
        $.get('/Main/GetSchedule', function (data) {
 
            let jsonObj = JSON.parse(data);
            let html = '';
            for (let i in jsonObj) {
          
                html += "<div class='row'>" + jsonObj[i].SeriesName + ":" + jsonObj[i].Text + "</div>"
            }
            let content = "<div class='row'>" + html + "</div>";
            $("#Schedule").append(content);
        });
    }

    //获取任务历史
    function GetHistory() {
        $.get('/Main/GetHistory', function (data) {

        });
    }


    //创建Json的行
    function LoadRow(json, traget) {
        let jsonObj = JSON.parse(json);
        let html = '';
        for (let i in jsonObj) {
            debugger;
            html += "<div class='row'>" + i + ":" + jsonObj[i] + "</div>"
        }
        let content = "<div class='row'>" + html + "</div>";
        $("#" + traget).append(content);
    }




</script>
