
@{
    ViewData["Title"] = "Main";

}

<h2>Main</h2> 
@if (ViewData["Creator"].ToString() == "True")
{
    <li><a asp-area="" asp-controller="Creator" asp-action="Index">Creator</a></li>
}
<div class="container-fluid">
    <div class="col-md-3" style="background-color:aquamarine">
        物品

    </div>
    <div class="col-md-6" style="background-color:aqua">
        <div class="row">
            @if (ViewBag.InLocation && ViewBag.ReadList != null)
            {
                <div class="row">
                    <div class="col-md-4">
                        <img src="@ViewBag.ReadList.IMG" />
                    </div>
                    <div class="col-md-8">
                        <p>@ViewBag.ReadList.Text</p>
                    </div>
                </div>
                <div class="row" id="Option">
                    @foreach (var option in ViewBag.OperaList)
                    {
                        <div class="row">
                            <p>@option.StorySeriesName</p>
                            <button class="btn-default" onclick="NextCard(@option.ID)">继续</button>
                        </div>
                    }
                </div>

            }
            else if (!ViewBag.InLocation && ViewBag.ReadList != null)
            {
                <div class="row">
                    <div class="col-md-4">
                        <img src="@(ViewBag.ReadList.IMG)" />
                    </div>
                    <div class="col-md-8">
                        <p>@ViewBag.ReadList.Text</p>
                    </div>
                </div>
                <div class="row" id="Option">
                    @foreach (var option in ViewBag.ReadList.StoryOptions)
                    {
                        <div class="row">
                            <button class="btn-default" onclick="NextCard(@option.ID)">@option.Text</button>
                        </div>
                    }
                </div>
            }
        </div>
       
    </div>
    <div class="col-md-3" style="background-color:burlywood">
        属性

    </div>
</div>


<script>

    function NextCard(optionID) {
        $.post(
            '/Main/NextCard',
            { optionID: optionID },
            function (result) {
                debugger;
                CleanContent();
                AddContent(result.text);
                AddOption(result)
            }
        )
    }

    //添加选项
    function AddOption(option) {
        for (let i = 1; i < option.length; i++) {
            if (option.NextCard) {
                $('#Option').append("<button onclick = " + NextCard(option.ID) + " > option.Text</button>")
            }

        }
    }
    //添加内容框内容
    function AddContent(text) {

        $('#Content').append("<div>" + text + "</div>");

    }
    //清除内容框
    function CleanContent() {
        $('#Content').empty();
        $('#Img').empty();
        $('#Option').empty();
    }


</script>
