
@{
    ViewData["Title"] = "Main";
    
}

<h2>Main</h2>
<div class="container-fluid">
    <div class="col-md-3" style="background-color:aquamarine">
        物品

    </div>
    <div class="col-md-6" style="background-color:aqua">

        <div class="row">
            @if (ViewBag.InLocation&&ViewBag.ReadList!=null)
            {
                <div class="col-md-4">
                    <img src="@ViewBag.ReadList.IMG" />
                </div>
                <div class="col-md-8">
                    <p>@ViewBag.ReadList.Text</p>
                </div>
                @foreach (var option in ViewBag.OperaList)
                {
                    <div class="row">
                        <p>@option.StorySeriesName</p>
                        <button class="btn-default" onclick="NextCard(@option.NextStoryCard)">继续</button>
                    </div>
                }
            }
            else if (!ViewBag.InLocation && ViewBag.ReadList != null)
            {
                <div class="col-md-4">
                    <img src="@(ViewBag.ReadList.IMG)" />
                </div>
                <div class="col-md-8">
                    <p>@ViewBag.ReadList.Text</p>
                    @foreach (var option in ViewBag.ReadList.StoryOptions)
                    {
                        <div class="row">
                            <button class="btn-default" onclick="NextCard(@option.NextStoryCardID)">@option.Text</button>
                        </div>
                    }
                </div>
            }
        </div>
        <div class="row">
            <div id="Option">
                
            </div>
        </div>
    </div>
    <div class="col-md-3" style="background-color:burlywood">
        属性

    </div>
</div>


<script>

    function NextCard(storyID) {
        $.post(
            '/Main/NextCart?storyID=' + storyID,
            { storyID: storyID },
            function (result) {
                debugger;
                CleanContent();
                AddContent(result.text);
                AddOption(result)
            }
        )

    }

    //添加选项
    function AddOption(option) {
        for (let i = 1; i < option.length; i++) {
            if (option.NextCard) {
                $('#Option').append("<button onclick = "+NextCard(option.NextStoryCardID)+" > option.Text</button>")
            }

        }
    }
    //添加内容框内容
    function AddContent(text) {

        $('#Content').append("<div>"+text+"</div>");
       
    }
    //清除内容框
    function CleanContent() {
        $('#Content').children().remove();
        $('#Img').children().remove();
        $('#Option').children().remove();
    }

   
</script>
